[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
tzdata = "*"
aiocron = "*"
bee-engine = {git = "https://github.com/tobeofuse/bee-engine"}
py-cord = {git = "https://github.com/Pycord-Development/pycord"}

[dev-packages]
yapf = "*"
freezegun = "*"

[requires]
python_version = "3.10"
