[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
py-cord = {git = "https://github.com/toBeOfUse/pycord"}
tzdata = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.10"
